<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comp3111.localendar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <instrumentation 
          android:name="android.test.InstrumentationTestRunner"  
          android:targetPackage="com.comp3111.localendar" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
        The following two permissions are not required to use
        Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Calendar permissions -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/> 
    <!-- Install/Unistall shortcut permissions -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
	
	<!-- To access google + API -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	
	<!-- permission required to use Alarm Manager -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/localendar_logo"
        android:label="@string/app_name" >
        <activity
            android:name="com.comp3111.localendar.Appstart"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.comp3111.localendar.Localendar"
            android:theme="@style/Theme.MyAppThemeNoIcon"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.comp3111.localendar.SigninActivity"
            android:theme="@style/Theme.MyAppThemeNoIcon"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.comp3111.localendar.SigninActivity"> </action>
                <category android:name="android.intent.category.DEFAULT"> </category>
            </intent-filter>
        </activity>
        <activity
            android:name="com.comp3111.localendar.AboutusActivity"
            android:theme="@style/Theme.MyAppThemeNoIcon"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.comp3111.localendar.calendar.AlarmReceiverActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.comp3111.localendar.calendar.CalendarSearch"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.comp3111.localendar.calendar.SearchResult"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="com.comp3111.localendar.calendar.DayChooseActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.comp3111.localendar.calendar.AddEventActivity"
            android:theme="@style/Theme.MyAppThemeNoIcon"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.comp3111.localendar.calendar.EditEventActivity"
            android:theme="@style/Theme.MyAppThemeNoIcon"
            android:screenOrientation="portrait" >
        </activity>
		<activity
            android:name="com.comp3111.localendar.calendar.EventDetailActivity"
            android:theme="@style/Theme.MyAppThemeNoIcon"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.comp3111.localendar.facebook.FacebookLogin"
            android:theme="@style/Theme.MyAppThemeNoIcon"
            android:screenOrientation="portrait" > 
        </activity>
        
        <activity android:name="com.facebook.LoginActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait" />    
        <activity 
            android:name="com.comp3111.localendar.SettingsActivity"
            android:theme="@style/Theme.MyAppThemeNoIcon"
            android:screenOrientation="portrait" >
        </activity>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCBkL7iCOQIsAyhPFGC4Baowxe19u61qs0" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data 
            android:name="com.facebook.sdk.ApplicationId" 
            android:value="@string/app_id" />

    </application>

</manifest>