<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comp3111.localendar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
        The following two permissions are not required to use
        Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Calendar permissions -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/> 
    <!-- Install/Unistall shortcut permissions -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/localendar_logo"
        android:label="@string/app_name" >
        <activity
            android:name="com.comp3111.localendar.Appstart"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.comp3111.localendar.Localendar"
            android:theme="@style/Theme.MyAppThemeNoIcon" >
        </activity>
        <activity
            android:name="com.comp3111.localendar.SigninActivity"
            android:theme="@style/Theme.MyAppThemeNoIcon" >
        </activity>
        <activity
            android:name="com.comp3111.localendar.AboutusActivity"
            android:theme="@style/Theme.MyAppThemeNoIcon" >
        </activity>
        <activity
            android:name="com.comp3111.localendar.AddEventActivity"
            android:theme="@style/Theme.MyAppTheme" >
        </activity>
        <activity
            android:name="com.comp3111.localendar.EditEventActivity"
            android:theme="@style/Theme.MyAppTheme" >
        </activity>
		<activity
            android:name="com.comp3111.localendar.EventDetailActivity"
            android:theme="@style/Theme.MyAppThemeNoIcon" >
        </activity>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDXzFpt3VELu-UIGcX2UjYPKuvMnje-dqc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>